*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: rgb(207, 203, 187); /* Light gray background */
    color: rgb(110, 81, 44);
    overflow: hidden;
    overflow-y: scroll;
}