/* about.css */
#about {
    display: flex; /* Use flexbox layout */
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center;
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    margin: 0 auto;
  }
  
  .aboutTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .aboutDescription{
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    margin: 0 auto;
    text-align: justify;
  }
  