.navbar {
    background: rgb(207, 203, 187);
    height: 5rem;
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3; 
}

.toggleBtn {
    background: transparent;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    padding: 0.5rem;
}

.toggleIcon {
    height: 3rem;
    width: 3rem;
}

/* Message Styling */
.message {
    position: absolute;
    top: 4rem; 
    left: 0; 
    transform: none;
    color: rgb(34, 34, 30); 
    background: rgba(208, 188, 150, 0.462); 
    border: 2px solid #d3d3d3;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    white-space: nowrap; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: auto; 
    max-width: 100vw;
    overflow-wrap: normal; 
}

/* Desktop menu */
.desktopMenu {
    display: flex;
    align-items: center;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: rgb(110, 81, 44);
}

.desktopMenuListItem:hover {
    color: rgb(101, 99, 81);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(101, 99, 81);
    font-family: "Work Sans", sans-serif;
}


.desktopMenuBtn {
    background: rgba(190, 169, 141, 0.6); /* Translucent background */
    color: rgb(49, 49, 48);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.desktopMenuBtn:hover {
    background: rgba(195, 184, 171, 0.8); /* Slightly darker translucent on hover */
}

.downloadIcon {
    font-size: 1.25rem; 
    margin-right: 0.75rem;
    color: rgb(78, 77, 74);
}

.desktopMenuBtn span {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Mobile Menu */
.mobMenu{
    display: none;
    object-fit: cover;
    height: 2rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(193, 187, 166);
    border-radius: 1rem;
}

.listItem{
    color: rgb(110, 81, 44);
    padding: 0.5rem 3rem;
    margin: 0.25rem;
}

@media screen and (max-width: 710px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
    .message {
        left: 5vw; 
        max-width: 90vw; 
        white-space: nowrap; 
        overflow-wrap: normal;
        padding: 0.5rem 1rem; 
        word-break: normal; 
    }
}
